<div id='container'>
    <div class="box">
    <p>
        Forne&ccedil;a as seguintes informa&ccedil;&otilde;es para criar sua conta gratu&iacute;ta.<br />
        Suas informa&ccedil;&otilde;es pessoais sempre s&atilde;o protegidas por nossa Pol&iacute;tica de Privacidade.
    </p>
    <%= render 'form' %>
    </div>
</div>
