	<div id="footer">
		<div class="container">
			<div id="copy">
				Copyright &copy; Points For Fun &reg; Pic. Todos os direitos reservados. Points For Fun &eacute; autorizado e regulamentado pela Financial Services Authority (FSA).
				<br />
				Transfer Money Online &nbsp;|&nbsp; Online Payment Services
			</div>
		</div>
	</div><!--end footer-->
