			<div id="submenu">
				<%=image_tag("submenu/box_top.gif")%>
				<ul>
					<li><a href="javascript:;" id="subShopping1">BR Points</a></li>
					<li><a href="javascript:;" id="subShopping2">USD Points</a></li>
					<li><a href="javascript:;" id="subShopping3">Euro Points</a></li>
				</ul>
				<%=image_tag("submenu/box_bot.gif")%>
			</div><!--end submenu-->
